numpy
pandas
matplotlib
pyspark >= 3.4.0
pyarrow
scikit-learn
torch
torchvision
torchaudio
librosa
sox
tensorflow==2.15.0
tensorflow_hub
encodec
openvino
nncf
luigi
google-api-python-client
google-auth
google-cloud-storage
ffmpeg-python
tqdm
gcsfs
fsspec
lightning
torchmetrics
umap-learn
petastorm
pyarrow==10.0.1
pacmap
wandb
# we prefer to use a version from a fork, but this breaks the installation on kaggle
# pip install birdnetlib @ git+https://github.com/dsgt-kaggle-clef/birdnetlib.git#d84aa1f15a7244dadba6265ddc7453e19733cfbd
birdnetlib
# add hatchling as a dep
hatchling
resampy

# developer tools
jupyterlab
black
pre-commit
pytest
