numpy
pandas
matplotlib
pyspark >= 3.4.0
pyarrow
scikit-learn
torch
torchvision
torchaudio
librosa
sox
tensorflow==2.15.0
tensorflow_hub
encodec
openvino
nncf
luigi
google-api-python-client
google-auth
google-cloud-storage
ffmpeg-python
tqdm
gcsfs
fsspec
lightning
torchmetrics
umap-learn
petastorm
pyarrow==10.0.1
pacmap
wandb
birdnetlib
resampy

# developer tools
jupyterlab
black
pre-commit
pytest
